.subscribe {
    position: relative;
    padding-top: 55px;

    &::before {
        content: "";
        position: absolute;
        left: 650px;
        bottom: -40px;
        width: 140px;
        height: 140px;
        background-color: #C1C1C1;
    }

    // &::after {
    //     content: "";
    //     position: absolute;
    //     left: 720px;
    //     bottom: 30px;
    //     width: 680px;
    //     height: 200px;
    //     background-color: #EAD7D7;
    // }

    .subscribe-text {
        
        margin-bottom: 120px;

        h2 {
            font-family: "MixtaPro-Light";
            font-weight: normal;
            font-size: 50px;
            line-height: 55px;
            text-align: left;
            position: relative;
            width: 768px;
            margin: 0 auto;
            z-index: 2;
            top: -133px;
        }
    }

    .inp {
        // margin-bottom: 55px;
        position: absolute;
        left: 715px;
        bottom: 30px;
        // top: 250px;
        width: 680px;
        height: 200px;
        background-color: #EAD7D7;
        input {
            width: 68%;
            border: none;
            outline: none;
            border-bottom: 1px solid #0c2b3e;
            color: #111;
            font-family: "Inter-Light";
            font-size: 26px;
            margin-left: 24px;
            margin-top: 145px;
            padding-bottom: 4px;
            background-color: transparent;
        }

        button {
            background: #0c2b3e;
            color: #fff;
            // line-height: 19.5px;
            letter-spacing: 1px;
            border-color: #0c2b3e;
            // padding: 10px 16px 8px;
            display: inline-block;
            margin: 8px 0;
            transition: all 0.3s ease;
            border: 1px solid transparent;
            padding: 7px 30px;
            text-transform: uppercase;
            // z-index: 15;
        }
        button:hover {
            background-color: #395665;
        }
    }
}
