.knowMore {
    margin: 0 auto;
    display: block;
    align-items: center;
    position: relative;
    text-align: center;
    padding-top: 241px;

    .bgGumbaz {
        position: relative;

        .gumbaz {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -40%);
            width: 100vw;
        }
    }

    h2 {
        color: #111111;
        font-family: "MixtaPro-Light";
        font-size: 75px;
        font-weight: normal;
        line-height: 75px;
        margin: 0 0 96px;
        position: relative;
        z-index: 1;
    }

    .knowMoreText {
        width: 820px;
        height: 257px;
        padding-top: 45px;
        font-family: "Inter-Light", sans-serif;
        font-size: 22px;
        margin: 0 auto;
        line-height: 25.2px;
        position: relative;
        padding-bottom: 439px;
    }
}
