.header {
    width: 100%;
    height: 100%;

    .logo-menu {
        // width: 100%;
        // height: 100vh;
        display: flex;
        justify-content: space-between;
        // position: fixed;

        a {
            // color: #fff;
            img {
                // color: #fff;
                width: 202.59px;
                height: 125px;
                margin-top: 30px;
                margin-left: 20px;
            }
        }

        button {
            width: 80px;
            height: 80px;
            margin-top: 40px;
            margin-right: 45px;
            color: #fff;
            font-weight: bold;
            font-size: 15px;
            background-color: #1C4A64;
        }
    }

    .bgVideo {
        video {
            width: 100%;
            height: 100vh;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }
 }